<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="external/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="external/seiyria-bootstrap-slider/css/bootstrap-slider.css">
    <script src="external/jquery/dist/jquery.min.js"></script>
    <script src="external/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="external/underscore/underscore-min.js"></script>
    <script src="external/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>

    <script type="text/html" id="flightInfoTemplate">

        <% _.each(obj , function(item ,key,list) { %>

        <div style="border: 1px solid black">
            <% console.log(obj) %>
            <div class="row">
                <h3 style="padding-left: 5%">Price <%= item.totalPrice%></h3>
            </div>
            <div class="row">
                <div style="padding: 4%"  class="col-sm-4">
                    <div>Flight No : <%= item.GFlightNo %></div>
                    <div>From <%= item.GOriginCity %> To <%= item.GDestinationCity %></div>
                    <div>Departure Time :<%= item.GDepartTime %></div>
                    <div>Arrive Time : <%= item.GArriveTime %></div>
                </div>


                <div style="padding: 4%" class="col-sm-4">
                    <div>Flight No : <%= item.RFlightNo %></div>
                    <div>From <%= item.GDestinationCity %> To <%= item.GOriginCity %></div>
                    <div>Departure Time :<%= item.RDepartTime %></div>
                    <div>Arrive Time : <%= item.RArriveTime %></div>
                </div>


                <div  class="col-sm-4">
                    <button class="btn btn-primary">Book This Flight</button>
                </div>
            </div>
        </div>

        <% }); %>

    </script>


    <script type="text/html" id="flightInfoTemplateOneWay">

        <% _.each(obj , function(item ,key,list) { %>

        <div style="border: 1px solid black">
            <% console.log(obj) %>
            <div class="row">
                <h3 style="padding-left: 5%">Price <%= item.totalPrice%></h3>
            </div>
            <div class="row">
                <div style="padding: 4%"  class="col-sm-4">
                    <div>Flight No : <%= item.GFlightNo %></div>
                    <div>From <%= item.GOriginCity %> To <%= item.GDestinationCity %></div>
                    <div>Departure Time :<%= item.GDepartTime %></div>
                    <div>Arrive Time : <%= item.GArriveTime %></div>
                </div>

                <div  class="col-sm-4">
                    <button class="btn btn-primary">Book This Flight</button>
                </div>
            </div>
        </div>

        <% }); %>

    </script>

</head>
<body>



<div class="container">

    <div class="row"><h1>Flight Search</h1></div>
    <div class="row">

        <div  class="col-sm-3">

            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#oneWay" data-toggle="tab">One Way</a></li>
                <li><a href="#return" data-toggle="tab">Return</a></li>
            </ul>

            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="oneWay">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="originCity" placeholder="Origin City">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="destinationCity" placeholder="DestinationCity">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="departureDate" placeholder="Departure Date">
                        </div>
                    </form>
                    <button type="submit" class="btn btn-default" id="submitSearchForm">Submit</button>
                </div>
                <div class="tab-pane" id="return">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="originCity2" placeholder="Origin City">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="destinationCity2" placeholder="DestinationCity">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="departureDate2" placeholder="Departure Date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="returnDate2" placeholder="Return Date">
                        </div>
                    </form>
                    <button type="submit" class="btn btn-default" id="submitSearchForm2">Submit</button>
                </div>
            </div>



            <br><br>
            <div style="border: 1px solid #000000; display: none" id="refineSearchResultOneWay">
                <label>Refine Flight Search</label>
                <input id="refineSearchResult" type="text" class="span2" value="" data-slider-min="0" data-slider-max="25000" data-slider-step="100" data-slider-value="[1000,9000]"/>
            </div>

            <div style="border: 1px solid #000000; display: none" id="refineSearchResultTwoWay">
                <label>Refine Flight Search</label>
                <input id="refineSearchResultTwoWayInput" type="text" class="span2" value="" data-slider-min="0" data-slider-max="25000" data-slider-step="100" data-slider-value="[1000,20000]"/>
            </div>

        </div>

        <div class="col-sm-6">

            <div id="flightInformation"></div>
            <div id="flightInformationOneWay"></div>

        </div>

    </div>

</div>




<script src="js/flightSearch.js"></script>
<script src="js/flightSearchJSON.js"></script>
</body>
</html>